<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<EditorSettings>
  <InstallerGenerator>D:\PortableApps\PortableApps.comInstaller\PortableApps.comInstaller.exe</InstallerGenerator>
  <LauncherGenerator>D:\PortableApps\PortableApps.comLauncher\PortableApps.comLauncherGenerator.exe</LauncherGenerator>
  <ProjectsDirectory>D:\PortableApps_p</ProjectsDirectory>
  <history>
    <project name="ResourceEditor" id="ResourceEditorPortable" installDirectoryName="ResourceEditor" path="D:\APPs\Tools\hanzify\App\ResourceEditorPortable" />
    <project name="ResourceEditor" id="ResourceEditorPortable" installDirectoryName="ResourceEditor" path="D:\APPs\Tools\hanzify\App\ResourceEditorPortable" />
    <project name="ResourceEditor" id="ResourceEditorPortable" installDirectoryName="ResourceEditor" path="D:\APPs\Tools\hanzify\App\ResourceEditorPortable" />
    <project name="Tc" id="TcPortable" installDirectoryName="Tc" path="D:\PortableApps\TcPortable" />
    <project name="Tc" id="TcPortable" installDirectoryName="Tc" path="D:\PortableApps\TcPortable" />
    <project name="Tc" id="TcPortable" installDirectoryName="Tc" path="D:\PortableApps\TcPortable" />
  </history>
</EditorSettings>