<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<EditorSettings>
  <InstallerGenerator>D:\PortableApps\PortableApps.comInstaller\PortableApps.comInstaller.exe</InstallerGenerator>
  <LauncherGenerator>D:\PortableApps\PortableApps.comLauncher\PortableApps.comLauncherGenerator.exe</LauncherGenerator>
  <ProjectsDirectory>D:\PortableApps_p</ProjectsDirectory>
  <history>
    <project name="Macrorit" id="MacroritPortable" installDirectoryName="Macrorit" path="D:\PortableApps_p\MacroritPortable" />
    <project name="AnyDesk" id="AnyDeskPortable" installDirectoryName="AnyDesk" path="D:\PortableApps_p\AnyDeskPortable" />
    <project name="AOMEI" id="AOMEIPortable" installDirectoryName="AOMEI" path="D:\PortableApps_p\AOMEIPortable" />
    <project name="MyBase" id="MyBasePortable" installDirectoryName="MyBase" path="D:\PortableApps_p\MyBasePortable" />
    <project name="RStudio" id="RStudioPortable" installDirectoryName="RStudio" path="D:\PortableApps_p\RStudioPortable" />
    <project name="RStudio" id="RStudioPortable" installDirectoryName="RStudio" path="D:\PortableApps_p\RStudioPortable" />
    <project name="RStudio" id="RStudioPortable" installDirectoryName="RStudio" path="D:\PortableApps_p\RStudioPortable" />
  </history>
</EditorSettings>